.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

#introBottom {
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 80%), url(./strap.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (min-device-width:768px) {
  body {
    background: url(./header.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  #introBottom {
    color: black;
    padding-bottom: 80px;
    background-image: none, url(./strap.png);
  }
}

#recordButton {
  color: white;
  text-shadow: 1px 1px 3px #00000077;
  background-color: #00cbea;
}

#uploadLink span {
  color: #00cbea;
}

#introTerms a {
  color: #00cbea;
}
