.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

#introBottom {
  padding-bottom: 50px;
  background-image: url(./strap.png), linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 80%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (min-device-width:961px) {
  body {
    background: url(./header.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
